.nav{
    width: 100vw;
    height: auto;
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .75rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FBE7C6;

    color: grey;

    h1{
        font-weight: 800;
        text-shadow: 1px 1px coral;
    }
}