.nav{
    width: 100vw;
    height: auto;
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .75rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #343a40;

    color: white;

    h1{
        font-weight: 800;
    }
}